<script>
       $(document).ready(function () {
           $(window).on("load resize",function(e){

           if ($(window).width() < 905) {
                $("#nav-icon1 , .navigation li").click(function(){
                $(".navigation").toggleClass("nav-open");
                $("#nav-icon1").toggleClass('open');
                $("#nav-icon1").toggleClass("ham-open");
                $("body").toggleClass('no-scroll');
                $(".wrapper").toggleClass('active');    
                });
           
            };
               });
        $(document).mouseup(function(e){
    var container = $(".navigation , .open");
            var newcontainer = $(".navigation li");
    if (!container.is(e.target) && container.has(e.target).length === 0) 
    {
         $(".navigation").removeClass("nav-open");
         $('#nav-icon1').removeClass("ham-open open");
         $("body").removeClass('no-scroll');       $(".wrapper").removeClass('active');
    }
            });
           
       });
           
</script>
<header>
  	  		<div class="wrap">       
					<div class="logo">
						<a href="index.html"><img src="img/logo.png" alt="" /></a>
					</div>
                <div class="menu">
                    <div id="nav-icon1">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
						<ul class="navigation" >
                            <li class="home" ui-sref="home" ng-click="setData(null)"><span class="nav_txt">Home</span></li>
                            <li class="geysers" ui-sref="home" ng-click="setData('Water Heaters')"><span class="nav_txt">Heaters</span></li>
                            <li class="heating" ui-sref="home" ng-click="setData('Heating Elements')"><span class="nav_txt">Heating Elements</span></li>
                            <li class="product" ui-sref="home" ng-click="setData('Domestic Appliances')"><span class="nav_txt">Domestic Appliances</span></li>
                            <li class="contact" ui-sref="contact"><span class="nav_txt">Contact Us</span></li>
                        </ul>
                 </div>
			     <div class="clear"></div>
  		       
  		</div>
        </header>